@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    color:rgb(202, 199, 199);
    font-family: Comfortaa;
}

body {
    background-color: #0e0e0e;
}

button {
    background-color: transparent;
    border-color: transparent;
    padding: 15px;
    font-weight: bold;
    font-size: medium;
}

.aud, .aud2{
    display: none;
}

.stay-button:hover, .travel-button:hover{
    color: white;
    font-style: italic;
    cursor: pointer;
}

.top-sep{
    width: 605px;
    padding-left:303px;
}

.choices{
    list-style-type: ">";
}

.text {
    padding-left: 302.5px;
    padding-top: 59px;
}

.title {
    padding-bottom: 59px;
    padding-top: 220px;
    font-weight: 300;
}


.left {
    position: fixed; 
    top:0px;
    left:0px;
    background-color: black;
    width: 40px;
    height: 100%;
}

.right {
    position: fixed; 
    top:0px;
    right:0px;
    background-color: black;
    width: 40px;
    height: 100%;
}

.bottom {
    position: fixed; 
    bottom:0px;
    left:0px;
    background-color: black;
    width: 100%;
    height: 40px;
}

.top {
    position: fixed; 
    top:0px;
    left:0px;
    background-color: black;
    width: 100%;
    height:45px;
}

.burning-fire {
    color: rgb(219, 0, 0)
}


/*<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 700

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/